---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Diese Website befindet sich noch im Aufbau</h1>
    <p>Bitte haben Sie noch etwas Geduld.</p>
    <small>www.serenidad.at</small>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 4rem 1rem;
    max-width: calc(100% - 2rem);
    color: rgb(13, 13, 13);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }
</style>

<script>
  import { init } from '@aptabase/web'
  init(import.meta.env.PUBLIC_APTABASE_APP_KEY, { isDebug: import.meta.env.DEV })
  // TODO: add events en el calendario
</script>
